*{
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

#container{
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    width: 322px;
    height: 322px;
    border: 1px solid red;

}

.square{
    padding: 10px;
    background: white;
}
